<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>GAME OF WORDS</title>
    <link rel="stylesheet" href="/styles.css">
  </head>

  <body>
    <div class="interface">

    <div class="title">
      <h1>Game of Words</h1>

      <h3>Choose a letter below</h3>
    </div>

    <div class="container">
  {{#letters}}
    <div class="wrapper">
      <div class="letters">
      {{.}}
    </div>
  </div>
    {{/letters}}
  </div>


    <form class="letter_guess" autocomplete="off" action="/guess" method="post">

      <input type="text" name="pick" value="" maxlength="1" />

      <button type="click" name="button">Guess Letter</button>
    </form>

    <div class="attempts">
      {{#attempts}}
      <h3>Attempts: {{.}}</h3>
      {{/attempts}}
    </div>

    <div class="bad_guess">
      <h3 id="badguess">Bad Guesses:</h3>
      <ul>
        {{#badguesses}}
        <li>{{.}}</li>
        {{/badguesses}}
      </ul>

    </div>
  </div>




</body>
</html>
