<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>GAME OF WORDS</title>
    <link rel="stylesheet" href="/styles.css">
  </head>

  <body>
    <h1>Game of Words</h1>

    <p>Choose a letter below</p>

    <div class="container">
  {{#letters}}
    <div class="letters">
      {{.}}
    </div>
    {{/letters}}
  </div>


    <form class="letter_guess" action="/guess" method="post">
      <input type="text" name="pick" value="" maxlength="1" />
      <button type="click" name="button">Guess Letter</button>
    </form>

    <div class="word_bank">

    </div>





</body>
</html>
