<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>YOU LOSE!</title>
  <link rel="stylesheet" href="/styles.css">
</head>

<body>
  <div class="wrapper_output">
    <h1>WOMP WOMP</h1>
    <h3>You ran out of attempts!</h3>

    <img class="images" src="/giphy_keanu.gif" alt="sad keanu">

    <div class="word_reveal">
      {{#word_pick}}
        <p>The word was: {{.}}</p>
      {{/word_pick}}
    </div>

    <button class="play_again" type="button" name="button" onClick="window.location.href='/new_word';">Play again?</button>
  </div>
</body>

</html>
