<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>YOU LOSE!</title>
  <link rel="stylesheet" href="/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Passion+One|Permanent+Marker|Satisfy|Shrikhand" rel="stylesheet">
</head>

<body>
  <div class="interface_outcome">
    <h1>OH NO!</h1>
    <h3>You ran out of attempts!</h3>

    <img class="images" src="/giphy_robot_fail.gif" alt="robot fail">

    <div class="word_reveal">
      {{#word_pick}}
        <p>The word was: {{.}}</p>
      {{/word_pick}}
    </div>

    <button class="play_again" type="button" name="button" onClick="window.location.href='/new_word';">Play again?</button>
  </div>
</body>

</html>
