<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>YOU WON!</title>
    <link rel="stylesheet" href="/styles.css">
  </head>

  <body>
    <h1>You have won the game!</h1>
    <button type="button" name="button" onClick="window.location.href='/new_word';">Play again?</button>
  </body>
</html>
