<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>YOU WON!</title>
    <link rel="stylesheet" href="/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Passion+One|Permanent+Marker|Satisfy|Shrikhand" rel="stylesheet">
  </head>

  <body>
    <div class="interface_outcome">
      <h1>You have won the game!</h1>
      <img class="images" src="/cm.gif" alt="cookie monster dancing" />
      <button class="play_again" type="button" name="button" onClick="window.location.href='/new_word';">Play again?</button>
    </div>
  </body>
</html>
