input{
  width: 100px;
}

body{
  width: 100%;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: url('scrabbletiles-11567263754_867523d90e_o-59b0bcced088c00013ad78f7.jpg');
  background-size: cover;
}

.interface{
  background: grey;
  opacity: 0.9;
  box-shadow: 2px 2px 2px black;
  margin-top: 25px;
  padding: 20px;
  border-radius: 25px;
  width: 80%;
}

.interface_outcome{
  padding: 5px;
  background: grey;
  opacity: 0.9;
  border-radius: 25px;
}

.interface_outcome h1{
  font-family: "Permanent Marker", cursive; 
}

.heading{
  font-family: "Permanent Marker", cursive;
  font-size: 72px;
}

.wrapper_output{
  display: flex;
  flex-flow: column nowrap;
  width: 50%;
}

.play_again{
  margin: 20px auto;
}

.container{
  margin-bottom: 25px;
}

.wrapper{
  width: 50px;
  height: 20px;
  border-bottom: 1px solid black;
  display: inline-block;
}

.letters{
  height: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 0px;
  font-size: 20px;
  text-transform: uppercase;
  color: white;
}

button{
  display: block;
  margin-top: 10px;
  width: 100px;
  height: 10px;
}

#guess_button{
  margin: 0 auto;
}

input{
  margin-bottom: 10px;
}

.images{
  border-radius: 25px;
  margin: 0 auto;
  width: 80%;
}

ul{
  list-style-type: none;
  padding: 0px;
}

li{
  display: inline-block;
  color: red;
  font-size: 36px;
}
